<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.webius.playlist.mapper.PlayViewMapper">
    <select id="PlayList" parameterType="PlayListViewVO" resultType="PlayListVO">
        SELECT IDX, Title
            FROM Playlist
            WHERE Owner = #{owner} AND
                IDX = #{idx}
    </select>

    <select id="PlayListPID" parameterType="String" resultType="PlayListVO">
        SELECT IDX, Title
            FROM Playlist
            WHERE PID = #{pid}
    </select>

    <select id="PlayListPage" parameterType="PlayListViewVO" resultType="PlayListVO">
        SELECT IDX, Title
            FROM Playlist
            WHERE Owner = #{owner}
            ORDER BY IDX ASC
            LIMIT #{page.index}, #{page.size}
    </select>

    <select id="PlayListAll" parameterType="PlayListViewVO" resultType="PlayListVO">
        SELECT IDX, Title
            FROM Playlist
            WHERE Owner = #{owner}
            ORDER BY IDX ASC
    </select>

    <select id="PlayListCount" parameterType="PlayListViewVO" resultType="int">
        SELECT COUNT(IDX)
            FROM Playlist
            WHERE Owner = #{owner}
    </select>

    <select id="PlayListLastIDX" parameterType="PlayListViewVO" resultType="int">
        SELECT IFNULL ((
            SELECT IDX
                FROM Playlist
                WHERE Owner = #{owner}
                ORDER BY IDX DESC
                LIMIT 0, 1
        ), 0)
    </select>

    <select id="PlayNode" parameterType="PlayNodeViewVO" resultType="PlayNodeVO">
        SELECT IDX, Name, Url, VID, Thumb, Type
            FROM PlaylistBoard
            WHERE PID = #{pid} AND
                IDX = #{idx}
    </select>

    <select id="PlayNodePBID" parameterType="String" resultType="PlayNodeVO">
        SELECT IDX, Name, Url, VID, Thumb, Type
            FROM PlaylistBoard
            WHERE PBID = #{pbid}
    </select>

    <select id="PlayNodePage" parameterType="PlayNodeViewVO" resultType="PlayNodeVO">
        SELECT IDX, Name, Url, Thumb, Type
            FROM PlaylistBoard
            WHERE PID = #{pid}
            ORDER BY IDX ASC
            LIMIT #{page.index}, #{page.size}
    </select>

    <select id="PlayNodeAll" parameterType="PlayNodeViewVO" resultType="PlayNodeVO">
        SELECT IDX, Name, Url, Thumb, Type
            FROM PlaylistBoard
            WHERE PID = #{pid}
            ORDER BY IDX ASC
    </select>

    <select id="PlayNodePlatform" parameterType="PlayNodeViewVO" resultType="PlayNodeVO">
        SELECT IDX, Name, Url, Thumb, Type
            FROM PlaylistBoard
            WHERE PID = #{pid} AND
                Type = #{type}
            ORDER BY IDX ASC
    </select>

    <select id="PlayNodeRandom" parameterType="PlayNodeViewVO" resultType="PlayNodeVO">
        SELECT IDX, Name, Url, Thumb, Type
            FROM PlaylistBoard
            WHERE PID = #{pid}
            ORDER BY RAND()
    </select>

    <select id="PlayNodeCount" parameterType="PlayNodeViewVO" resultType="int">
        SELECT COUNT(IDX)
            FROM PlaylistBoard
            WHERE PID = #{pid}
    </select>

    <select id="PlayNodeLastIDX" parameterType="PlayNodeViewVO" resultType="int">
        SELECT IFNULL ((
            SELECT IDX
                FROM PlaylistBoard
                WHERE PID = #{pid}
                ORDER BY IDX DESC
                LIMIT 0, 1
        ), 0)
    </select>

    <insert id="PlayLog" parameterType="PlayLogVO">
        INSERT INTO PlaylistLog (UID, PID, PBID)
            VALUES (#{uid}, #{pid}, #{pbid})
    </insert>

    <select id="PlayListGetPID" parameterType="PlayListViewVO" resultType="String">
        SELECT PID
            FROM Playlist
            WHERE Owner = #{owner} AND
                IDX = #{idx}
    </select>

    <select id="PlayNodeGetPBID" parameterType="PlayNodeViewVO" resultType="String">
        SELECT PBID
            FROM PlaylistBoard
            WHERE PID = #{pid} AND
                IDX = #{idx}
    </select>

    <select id="PlayListGetTitle" parameterType="PlayListViewVO" resultType="String">
        SELECT Title
            FROM Playlist
            WHERE Owner = #{owner} AND
                IDX = #{idx}
    </select>
</mapper>