<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <!-- Login Object -->
        <typeAlias type="net.webius.playlist.login.LoginVO" alias="LoginVO" />
        <typeAlias type="net.webius.playlist.login.LoginApiVO" alias="LoginApiVO" />
        <typeAlias type="net.webius.playlist.login.LoginAllVO" alias="LoginAllVO" />
        <typeAlias type="net.webius.playlist.login.UserVO" alias="UserVO" />

        <!-- Sign Object -->
        <typeAlias type="net.webius.playlist.sign.SignVO" alias="SignVO" />
        <typeAlias type="net.webius.playlist.sign.SignEditVO" alias="SignEditVO" />
        <typeAlias type="net.webius.playlist.sign.SignVerifyVO" alias="SignVerifyVO" />

        <!-- Playlist Object -->
        <typeAlias type="net.webius.playlist.play.PlayListVO" alias="PlayListVO" />
        <typeAlias type="net.webius.playlist.play.PlayListViewVO" alias="PlayListViewVO" />
        <typeAlias type="net.webius.playlist.play.PlayListWriteVO" alias="PlayListWriteVO" />
        <typeAlias type="net.webius.playlist.play.PlayListEditVO" alias="PlayListEditVO" />
        <typeAlias type="net.webius.playlist.play.PlayListDeleteVO" alias="PlayListDeleteVO" />
        <typeAlias type="net.webius.playlist.play.PlayNodeVO" alias="PlayNodeVO" />
        <typeAlias type="net.webius.playlist.play.PlayNodeViewVO" alias="PlayNodeViewVO" />
        <typeAlias type="net.webius.playlist.play.PlayNodeWriteVO" alias="PlayNodeWriteVO" />
        <typeAlias type="net.webius.playlist.play.PlayNodeEditVO" alias="PlayNodeEditVO" />
        <typeAlias type="net.webius.playlist.play.PlayNodeDeleteVO" alias="PlayNodeDeleteVO" />
        <typeAlias type="net.webius.playlist.play.PlayLogVO" alias="PlayLogVO" />

        <!-- Main Object -->
        <typeAlias type="net.webius.playlist.main.MainFeedVO" alias="MainFeedVO" />

        <!-- Search Object -->
        <typeAlias type="net.webius.playlist.search.SearchVO" alias="SearchVO" />
        <typeAlias type="net.webius.playlist.search.SearchQueryVO" alias="SearchQueryVO" />
        <typeAlias type="net.webius.playlist.search.SearchCountVO" alias="SearchCountVO" />

        <!-- Notice Object -->
        <typeAlias type="net.webius.playlist.notice.NoticeVO" alias="NoticeVO" />
        <typeAlias type="net.webius.playlist.notice.NoticeViewVO" alias="NoticeViewVO" />
        <typeAlias type="net.webius.playlist.notice.NoticeWriteVO" alias="NoticeWriteVO" />
        <typeAlias type="net.webius.playlist.notice.NoticeEditVO" alias="NoticeEditVO" />
        <typeAlias type="net.webius.playlist.notice.NoticeDeleteVO" alias="NoticeDeleteVO" />
    </typeAliases>
</configuration>