<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.webius.playlist.mapper.LoginMapper">
    <select id="Login" parameterType="LoginVO" resultType="UserVO">
        SELECT U.UID, U.Alias
            FROM User U, UserAuth UA
            WHERE
                U.UID = UA.UID AND
                UA.ID = #{id} AND
                UA.PW = PASSWORD(#{pw})
    </select>

    <select id="LoginGoogle" parameterType="LoginApiVO" resultType="UserVO">
        SELECT U.UID, U.Alias
            FROM User U, UserAuth UA
            WHERE
                U.UID = UA.UID AND
                UA.Google = #{id}
    </select>

    <select id="LoginNaver" parameterType="LoginApiVO" resultType="UserVO">
        SELECT U.UID, U.Alias
            FROM User U, UserAuth UA
            WHERE
                U.UID = UA.UID AND
                UA.Naver = #{id}
    </select>

    <select id="LoginKakao" parameterType="LoginApiVO" resultType="UserVO">
        SELECT U.UID, U.Alias
            FROM User U, UserAuth UA
            WHERE
                U.UID = UA.UID AND
                UA.Kakao = #{id}
    </select>

    <select id="GetUserAll" parameterType="String" resultType="LoginAllVO">
        SELECT ID, Google, Naver, Kakao
            FROM UserAuth
            WHERE UID = #{uid}
    </select>

    <select id="GetUserAlias" parameterType="String" resultType="String">
        SELECT Alias
            FROM User
            WHERE UID = #{uid}
    </select>
</mapper>