<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.webius.playlist.mapper.SignMapper">
    <insert id="Sign" parameterType="SignVO" keyProperty="UID" useGeneratedKeys="true">
        INSERT INTO User (Alias)
            VALUES (#{alias})
    </insert>

    <insert id="SignAuth" parameterType="SignVO">
        INSERT INTO UserAuth (UID, ID, PW)
            VALUES (#{UID}, #{id}, PASSWORD (#{pw}))
    </insert>

    <insert id="SignGoogle" parameterType="SignVO">
        INSERT INTO UserAuth (UID, Google)
            VALUES (#{UID}, #{id})
    </insert>

    <insert id="SignNaver" parameterType="SignVO">
        INSERT INTO UserAuth (UID, Naver)
            VALUES (#{UID}, #{id})
    </insert>

    <insert id="SignKakao" parameterType="SignVO">
        INSERT INTO UserAuth (UID, Kakao)
            VALUES (#{UID}, #{id})
    </insert>

    <update id="SignEdit" parameterType="SignEditVO">
        UPDATE User
            SET Alias = #{alias}
            WHERE UID = #{uid}
    </update>

    <update id="SignEditAuth" parameterType="SignEditVO">
        UPDATE UserAuth
            SET PW = Password(#{pw})
            WHERE UID = #{uid}
    </update>
    
    <select id="HasID" parameterType="SignVerifyVO" resultType="int">
        SELECT COUNT(UID)
            FROM UserAuth
            WHERE UID != #{uid} AND
                ID = #{id}
    </select>

    <select id="HasAlias" parameterType="SignVerifyVO" resultType="int">
        SELECT COUNT(UID)
            FROM User
            WHERE UID != #{uid} AND
                Alias = #{alias}
    </select>
</mapper>