<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- APPENDER:STDOUT - Console Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%-20(%d{yyyy-MM-dd HH:mm:ss})[%-5p] [%F] %M\(%L\): %m%n</pattern>
        </layout>
    </appender>

    <!-- LOG:INFO -->
    <logger name="net.webius.playlist" level="info" additivity="false">
        <!-- LOG:INFO, Send to STDOUT -->
        <appender-ref ref="STDOUT" />
    </logger>

    <!-- LOG:DEBUG -->
    <logger name="net.webius.playlist" level="debug" additivity="false">
        <!-- LOG:DEBUG, Send to STDOUT -->
        <appender-ref ref="STDOUT" />
    </logger>

    <!-- LOG:ROOT -->
    <root level="info">
        <!-- LOG:ROOT:LEVEL, Send to STDOUT -->
        <appender-ref ref="STDOUT" />
    </root>
</configuration>