/*
 * 검색
 */
#search {
    position: relative;
}
#search #query {
    width: 100%;
    height: 45px;
    min-width: 300px;
    border: 2px solid #7920f3;
    border-radius: 30px;
}
#search #icon {
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
}
/*
 * 버튼 바 (사이드)
 */
[data-role="sidebar"] i {
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.5rem;
    padding: .25rem;
}
[data-role="side-view"] {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #5c5c5c;
}
[data-role="side"] li {
    border: 0 !important;
}
/*
 * 버튼 바
 */
ul[data-role="primary"] {
    height: 50px;
    font-size: 1.25rem;
}
ul[data-role="primary"] li a {
    color: #000000;
}
ul[data-role="primary"] li a:hover {
    border-bottom: 2px solid #4e05e8;
}
ul[data-role="secondary"] li a {
    color: #828282;
}
ul[data-role="secondary"] li a:hover {
    font-weight: bold;
}



















/*
 * 공지사항 테이블
 */
ul.table[data-role="notice"] span[data-column="seq"] {
    width: 6%;
    min-width: 40px;
}
ul.table[data-role="notice"] span[data-column="subject"] {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
ul.table[data-role="notice"] span[data-column="author"] {
    width: 27%;
    min-width: 180px;
}
ul.table[data-role="notice"] span[data-column="cdate"] {
    width: 23%;
    min-width: 180px;
}
ul.table[data-role="notice"] span[data-column="view"] {
    width: 7%;
    min-width: 60px;
}

/*
 * 플레이리스트 테이블
 */
ul.table[data-role="playlist"] div[data-column="thumbnail"] {
    min-width: 228px;
}
ul.table[data-role="playlist"] div[data-column="detail"] {
    width: 100%;
    word-break: break-all;
}

ul.table[data-role="playlist"] span[data-column="platform"] {
    position: absolute;
    left: .5rem;
    bottom: .05rem;
}
[data-role="playlist-mini"] a.active {
    background-color: rgba(0, 0, 0, .15);
}
[data-role="playlist-mini"] div[data-column="thumbnail"] {
    min-width: 200px;
}
[data-role="playlist-mini"] div[data-column="detail"] {
    width: 100%;
    word-break: break-all;
}
[data-role="playlist-mini"] span[data-column="platform"] {
    position: absolute;
    left: .5rem;
    bottom: .05rem;
}
[data-role="playlist-main"] a:hover div[data-column="thumbnail"] img {
    transform: scale(1.025);
}
[data-role="playlist-main"] div[data-column="detail"] {
    word-break: break-all;
}
[data-role="playlist-main"] span[data-column="platform"] {
    position: absolute;
    left: .5rem;
    bottom: .05rem;
}
.active[data-role="search-link"],
[data-role="search-link"]:hover {
    border-bottom: 2px solid #5206f2;
}









