@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

html, body {
    height: 100%;
    font-family: "Noto Sans KR", sans-serif;
}

.wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    position: relative;
    min-height: 80px;
    background-color: #ffffff;
}

footer {
    margin-top: auto;
    height: 100px;
    background-color: #5c5c5c;
}
.footer-info {
    color: #ffffff;
}
.footer-info > a {
    color: #ffffff;
    text-decoration: none;
}

.container {
    padding-left: 0;
    padding-right: 0;
}
.text-black-50 a {
    color: rgba(0,0,0,.5)!important;
}
.btn-playlist {
    background-color: #5206F2;
    border-color: #5206F2;
    color: #ffffff;
}
.btn-playlist:hover {
    background-color: #4104C4;
    border-color: #4104C4;
    color: #ffffff;
}
.btn-playlist-border {
    border-color: #5206F2;
}
.btn-playlist-border:hover {
    background-color: #4104C4;
    border-color: #5206F2;
    color: #ffffff;
}
.btn-kakao {
    background-color: #FAE102;
    border-color: #FAE102;
}
.btn-kakao:hover {
    background-color: #E2CB00;
    border-color: #E2CB00;
}
.btn-kakao-border {
    border-color: #FAE102;
}
.btn-kakao-border:hover {
    background-color: #E2CB00;
    border-color: #FAE102;
}
.btn-naver {
    background-color: #00C73C;
    border-color: #00C73C;
    color: #ffffff;
}
.btn-naver:hover {
    background-color: #00A131;
    border-color: #00A131;
    color: #ffffff;
}
.btn-naver-border {
    border-color: #00C73C;
}
.btn-naver-border:hover {
    background-color: #00A131;
    border-color: #00C73C;
    color: #ffffff;
}
.btn-google {
    background-color: #EB4F4D;
    border-color: #EB4F4D;
    color: #ffffff;
}
.btn-google:hover {
    background-color: #CB4341;
    border-color: #CB4341;
    color: #ffffff;
}
.btn-google-border {
    border-color: #EB4F4D;
}
.btn-google-border:hover {
    background-color: #CB4341;
    border-color: #EB4F4D;
    color: #ffffff;
}
.btn-light {
    background-color: #d8d8d8;
    border-color: #d8d8d8;
}
.btn-light:hover {
    background-color: #cecece;
    border-color: #cecece;
}
.btn-light-border {
    border-color: #cecece;
}
.btn-light-border:hover {
    background-color: #d8d8d8;
    border-color: #cecece;
}
.navbar {
    height: 100%;
}
.navbar-start {
    width: 450px;
}
.navbar-middle {
    position: relative;
    text-align: center;
}
.navbar-end {
    width: 450px;
    align-items: center;
    justify-content: flex-end;
}
@media (min-width: 1200px) {
    header {
        height: 80px;
    }
}
.logo {
    margin-left: 20px;
}
#searchInput {
    width: 380px;
    padding-left: 1rem;
    border: 2px solid #7920f3;
    border-radius: 30px;
    line-height: 2.5;
    height: 45px;
}
#searchInput:focus {
    border: 3px solid #7920f3;
}
#searchButton {
    position: absolute;
    cursor: pointer;
    right: 20px;
}
.nav-service > li:hover {
    border-bottom: 2px solid #4e05e8;
    margin-bottom: -2px;
}
.nav-service > li > a {
    font-size: 1.3rem;
    color: #000000;
}
.nav-login > li > a {
    color: #828282;
}
.nav-login > li > a:hover {
    color: #676767;
    font-weight: bold;
}
.play-list-nav,
.play-node-nav {

}
.play-list-nav > a,
.play-node-nav > a {

}
.play-list-nav > a + a,
.play-node-nav > a + a {
    margin-left: 10px;
}
.play-list-table,
.play-node-table {
    margin: 1.5rem 0;
    border-top: 2px solid #979797;
    border-bottom: 2px solid #979797;
}
.play-node-table li {
    display: flex;
    padding: 0.7rem 0;
}
.play-node-table li > a {
    display: inline-flex !important;
    width: 95%;
    height: 130px;
}
.table-hover li:hover {
    color: #212529;
    background-color: rgba(0,0,0,.075);
}
.table td, .table th {
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6 !important;
}
.table td {
    cursor: pointer;
}
ul.table {
    padding-left: 0;
}
ul.table li {
    list-style-type: none;
    border-bottom: 1px solid #dee2e6 !important;
}
ul.table li:first-child {
    border-top: 1px solid #dee2e6;
}
ul.table li > a {
    display: flex;
    color: #000000;
}
ul.table li a:hover {
    text-decoration: none;
}
ul.table li a span {
    padding: .75rem;
}
ul.table li a span.seq {
    width: 6%;
    min-width: 70px;
}
ul.table li a div:first-child {
    margin-left: 0.3rem !important;
}
ul.table li a div + div {
    margin-left: 1rem !important;
}
ul.table li a div:last-child {
    margin-right: 1rem !important;
}
ul.table li a div.thumbnail {
    min-width: 228px;
}
ul.table li a div.platform {
    width: 5%;
    min-width: 70px;
}
ul.table li a div.info {
    width: auto;
    overflow: hidden;
}
ul.table li div.action {
    display: inline-flex;
}
ul.table li a span.subject {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
ul.table li a span.author {
    width: 27%;
    min-width: 180px;
}
ul.table li a span.cdate {
    width: 23%;
    min-width: 180px;
}
ul.table li a span.view {
    width: 7%;
    min-width: 60px;
}