@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

html, body {
    height: 100%;
    font-family: "Noto Sans KR", sans-serif;
    word-break: keep-all;
}

.wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    position: relative;
    min-height: 80px;
    background-color: #ffffff;
    z-index: 2010;
}

footer {
    margin-top: auto;
    height: 100px;
    background-color: #5c5c5c;
    z-index: 2000;
}

.text-lighter {
    font-weight: lighter;
}
.text-normal {
    font-weight: normal;
}
.text-bold {
    font-weight: bold;
}
.text-bolder {
    font-weight: 900;
}

.border-top-2 {
    border-top: 2px solid #dee2e6!important;
}
.border-bottom-2 {
    border-bottom: 2px solid #dee2e6!important;
}
.border-left-2 {
    border-left: 2px solid #dee2e6!important;
}
.border-right-2 {
    border-right: 2px solid #dee2e6!important;
}
.table-border-black {
    border-color: #000000 !important;
}

/*
 * 버튼 정보
 */
.btn-playlist {
    background-color: #5206F2;
    border-color: #5206F2;
    color: #ffffff;
}
.btn-playlist:hover {
    background-color: #4104C4;
    border-color: #4104C4;
    color: #ffffff;
}
.btn-playlist-border {
    border-color: #5206F2;
}
.btn-playlist-border:hover {
    background-color: #4104C4;
    border-color: #5206F2;
    color: #ffffff;
}
.btn-kakao {
    background-color: #FAE102;
    border-color: #FAE102;
}
.btn-kakao:hover {
    background-color: #E2CB00;
    border-color: #E2CB00;
}
.btn-kakao-border {
    border-color: #FAE102;
}
.btn-kakao-border:hover {
    background-color: #E2CB00;
    border-color: #FAE102;
}
.btn-naver {
    background-color: #00C73C;
    border-color: #00C73C;
    color: #ffffff;
}
.btn-naver:hover {
    background-color: #00A131;
    border-color: #00A131;
    color: #ffffff;
}
.btn-naver-border {
    border-color: #00C73C;
}
.btn-naver-border:hover {
    background-color: #00A131;
    border-color: #00C73C;
    color: #ffffff;
}
.btn-google {
    background-color: #EB4F4D;
    border-color: #EB4F4D;
    color: #ffffff;
}
.btn-google:hover {
    background-color: #CB4341;
    border-color: #CB4341;
    color: #ffffff;
}
.btn-google-border {
    border-color: #EB4F4D;
}
.btn-google-border:hover {
    background-color: #CB4341;
    border-color: #EB4F4D;
    color: #ffffff;
}
.btn-light {
    background-color: #d8d8d8;
    border-color: #d8d8d8;
}
.btn-light:hover {
    background-color: #cecece;
    border-color: #cecece;
}
.btn-light-border {
    border-color: #cecece;
}
.btn-light-border:hover {
    background-color: #d8d8d8;
    border-color: #cecece;
}
.btn-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
}
.btn-youtube-icon {
    background: url('/res/img/api/icons-16x.png') no-repeat 0 0;
}
.btn-naver-icon {
    background: url('/res/img/api/icons-16x.png') no-repeat -16px 0;
}
.btn-kakao-icon {
    background: url('/res/img/api/icons-16x.png') no-repeat -32px 0;
}

/*
 * 기본 테이블
 */
ul.table {
    padding-left: 0;
}
ul.table li {
    list-style-type: none;
    border-bottom: 1px solid #dee2e6;
}
ul.table li:first-child {
    border-top: 1px solid #dee2e6;
}
ul.table li a {
    display: flex;
    color: #000000;
}
ul.table li a:hover {
    text-decoration: none;
}
ul.table.table-hover li:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, .075);
}