<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.webius.playlist.mapper.NoticeMapper">
    <select id="Notice" parameterType="NoticeViewVO" resultType="NoticeVO">
        SELECT NID, Subject, Content, (SELECT Alias FROM User WHERE UID = Author) Alias, CDate, View
            FROM Notice
            WHERE NID = #{nid}
    </select>

    <select id="NoticeList" parameterType="NoticeViewVO" resultType="NoticeVO">
        SELECT NID, Subject, (SELECT Alias FROM User WHERE UID = Author) Alias, CDate, View
            FROM Notice
            ORDER BY NID DESC
            LIMIT #{page.index}, #{page.size}
    </select>

    <select id="NoticeAll" resultType="NoticeVO">
        SELECT NID, Subject, (SELECT Alias FROM User WHERE UID = Author) Alias, CDate, View
            FROM Notice
            ORDER BY NID DESC
    </select>

    <select id="NoticeCount" resultType="int">
        SELECT COUNT(NID)
            FROM Notice
    </select>

    <update id="NoticeVisit" parameterType="String">
        UPDATE Notice
            SET View = View + 1
            WHERE NID = #{nid}
    </update>

    <insert id="NoticeWrite" parameterType="NoticeWriteVO">
        INSERT INTO Notice (Subject, Content, Author)
            VALUES (#{subject}, #{content}, #{author})
    </insert>

    <update id="NoticeEdit" parameterType="NoticeEditVO">
        UPDATE Notice
            SET Subject = #{subject},
                Content = #{content}
            WHERE NID = #{nid}
    </update>

    <delete id="NoticeDelete" parameterType="NoticeDeleteVO">
        DELETE FROM Notice
            WHERE NID = #{nid}
    </delete>
</mapper>