<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.webius.playlist.mapper.PlayEditMapper">
    <update id="PlayListEdit" parameterType="PlayListEditVO">
        UPDATE Playlist
            SET Title = #{title}
            WHERE Owner = #{owner} AND
                IDX = #{idx}
    </update>

    <update id="PlayNodeEdit" parameterType="PlayNodeEditVO">
        UPDATE PlaylistBoard
            SET Name = #{name},
                Url = #{url},
                VID = #{vid},
                Thumb = #{thumb},
                Type = #{type}
            WHERE PID = #{pid} AND
                IDX = #{idx}
    </update>
</mapper>